<div class="d-flex flex-column justify-content-center gap-3 p-2">
  <h1 class="text-center">Igor</h1>
  <h4>
    Please sign the petition to bring igor back, thank you: 
    <a href="https://www.thepetitionsite.com/369/137/777/bring-back-igor-by-vachon/" target="_blank">
      link to petition
    </a>
  </h4>
  <iframe src="https://www.youtube.com/embed/sOiaWEwsqAg?si=MCckmA_D6czjH92M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <iframe src="https://www.youtube.com/embed/c8otzB5z-VY?si=iHfcEQ7P1uuPH6MQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <img src="https://4.bp.blogspot.com/-OTxAKe4lDDk/TeGgA85AGVI/AAAAAAAAAAY/fApfZbwS-mE/s1600/igor+box.jpg" alt="igor" class="img-fluid">
  <img src="https://ici.radio-canada.ca/regions/greg/imggreg/20070327070327igor_n.jpg" alt="igor" class="img-fluid">
</div>