.blinky {
  animation: blinker 1s linear infinite;
  color: red;
  font-weight: bold;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#canvas-for-googlemap img.text-marker {
  max-width: none !important;
  background: none !important;
}

img {
  max-width: none
}