<div class="d-flex flex-column justify-content-center gap-2 p-2">
  <h1 class="text-center">Bolt tracker <img src="bolt.png" alt="Bolt icon" style="height: 1em; padding-bottom: 5px;"></h1>

  <span class="blinky">LIVE LOCATION</span>

  <div style="overflow:hidden;resize:none;max-width:100%;height:500px;"><div id="canvas-for-googlemap" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=46.34873476784162,+-72.57707631204534&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="from-embedmap-code" href="https://kbj9qpmy.com/hrn" id="get-data-for-map">Hosting Right Now</a><style>#canvas-for-googlemap img.text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style></div>
</div>
