<div class="d-flex flex-column justify-content-center gap-2 p-2">
  <h1 class="text-center">Bolt tracker <img src="bolt.png" alt="Bolt icon" style="height: 1em; padding-bottom: 5px;">
  </h1>

  <h4 class="blinky mb-0">
    <i class="bi bi-broadcast-pin"></i>
    LIVE LOCATION
    <i class="bi bi-broadcast-pin"></i>
  </h4>

  <div style="overflow:hidden;resize:none;max-width:100%;height:500px;">
    <div id="canvas-for-googlemap" style="height:100%; width:100%;max-width:100%;">
      <iframe
        style="height:100%;width:100%;border:0;" frameborder="0"
        src="https://www.google.com/maps/embed/v1/place?q=48.4177397, -71.054097&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
    </div>
  </div>
</div>