<div class="very-important-message">
  Oui.
</div>
<div class="explanation">
  L'appellation "<i>la</i> Poly" est exigée dans tout document comme, d'ailleurs, dans toute présentation orale, aussi familière soit-elle.
  (<a href="https://dictionary.cambridge.org/dictionary/english/womp-womp">source</a>)
</div>
<br>
<br>
<br>
<br>
<div class="very-important-image">
  ✅ <img src="https://i.imgur.com/09VQi81.jpg">
</div>
<br>
<div class="very-important-image">
  ❌ <img src="https://i.imgur.com/YYAyRrJ.jpg">
</div>
