.very-important-message {
  text-align: center;
  font-size: 3000%;
  font-weight: 800;
  line-height: normal;
  color: #000;
  font-family: "Times New Roman";
}

.very-important-image {
  text-align: center;
  font-size: 2000%;
}

.explanation {
  text-align: center;
  font-size: 200%;
  font-weight: 60;
  font-style: italic;
  color: #000;
  font-family: "Times New Roman";

  a {
    color: rgb(0, 0, 238);
  }
}