<div class="yapper d-flex flex-column p-2 h-100">
  <h1 class="text-center">yapper board</h1>

  @if (buttons) {
    <div class="yapper__button-grid p-1">
      @for (button of buttons; track button.name; let index = $index) {
        <app-sound-button
          [name]="button.name"
          [sound]="button.sound"
          [color]="button.color"
          (buttonClicked)="playSound(index)"
        ></app-sound-button>
      }
    </div>
  } 
  @else {
    <div class="d-flex justify-content-center align-items-center flex-grow-1">
      <span class="me-2">Loading sounds womp womp...</span>
      <div class="spinner-grow" role="status">
      </div>
    </div>
  }

  <form class="d-flex align-items-center my-3 pb-2" (ngSubmit)="onSubmit()">
    <label for="suggestion" class="form-label m-0">Suggestion?</label>
    <input
      type="text"
      class="form-control mx-2"
      id="suggestion"
      name="suggestion"
      maxlength="1000"
      [(ngModel)]="suggestion"
    >
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
