<div class="p-2">
  <h1 class="text-center">Home</h1>
  <p>Welcome to the official mgcil brainrot app, for any concern womp womp</p>

  <div class="d-flex flex-wrap justify-content-center gap-3">
    <div class="card" style="width: 20rem;">
      <a routerLink="/yapper">
        <img src="yapping.png" class="card-img-top" alt="...">
      </a>

      <div class="card-body">
        <h5 class="card-title">yapping board</h5>
        <p class="card-text">Enjoy some relaxing and easy yapping with the ultimate yapping board!</p>
        <a routerLink="/yapper" class="btn btn-primary">yap yap yap</a>
      </div>
    </div>

    <div class="card" style="width: 20rem;">
      <a routerLink="/translator">
        <img src="wah_translate.png" class="card-img-top" alt="...">
      </a>

      <div class="card-body">
        <h5 class="card-title">wah translator</h5>
        <p class="card-text">Tired of getting called COMBIEN?! Use the wah translator and all your troubles will go away. Make sure to turn ON your sound to hear the translation.</p>
        <a routerLink="/translator" class="btn btn-primary">Translate now!</a>
      </div>
    </div>

    <div class="card" style="width: 20rem;">
      <img src="coming_soon.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Coming soon</h5>
        <p class="card-text">Other apps are coming soon womp womp</p>
      </div>
    </div>
  </div>
  
</div>
